@page "/travelpage/{Id:int}"
@inject DataContext Context

<MudPaper Style="overflow:hidden; position:relative;" Class="px-0">
    <MudDrawerContainer>
        <MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudNavMenu>
                <MudText Typo="Typo.h5" Class="px-5 py-3"><b>Trip to @CurrentTrip.City</b></MudText>
                <MudDivider />
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" @onclick="@(e => OnNavLinkClick("Home"))">Home</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Hotel" @onclick="@(e => OnNavLinkClick("Accommodation"))">Accommodation</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.CalendarToday" @onclick="@(e => OnNavLinkClick("Days"))">Days</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        @if (_selectedPage == "Home")
        {
            <div class="d-flex justify-center align-center">
                <MudImage Src="/Images/France.jpg" Alt="Paris" Style="width: 100%; height: 400px" />
                <MudPaper class="d-flex flex-column align-center pa-6 rounded-0" Style="width: 100%; position: absolute" Elevation="0">
                    <MudText Typo="Typo.h4"><b>Trip to @CurrentTrip.City</b></MudText>
                    <MudText Typo="Typo.h6" Class="pt-2">@CurrentTrip.Description</MudText>
                    <MudText Typo="Typo.h6" Class="pt-2">@($"{CurrentTrip.StartDate:dd.MM.yyyy} - {CurrentTrip.EndDate:dd.MM.yyyy}")</MudText>
                </MudPaper>
            </div>
            <div class="d-flex flex-column px-6 mt-4">
                <MudContainer Class="px-0 d-flex justify-space-between align-center">
                    <MudText Typo="Typo.h5"><b>Notes</b></MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" />
                </MudContainer>
                <MudTextField T="string" Variant="Variant.Outlined" Lines="3"/>
            </div>
            <div class="d-flex pa-6">
                <MudContainer class="px-0 d-inline-flex justify-space-between gap-3">
                    <MudPaper Style="width: 100%" Class="pa-3">
                        <MudText Typo="Typo.h5" Class="pb-2"><b>Budget</b></MudText>
                        <MudContainer class="d-inline-flex px-0 gap-1 align-center">
                            <MudText Typo="Typo.h6">$@CurrentTrip.Budget</MudText>
                        </MudContainer>
                    </MudPaper>
                    <MudPaper Style="width: 100%" Class="pa-3">
                        <MudText Typo="Typo.h5" Class="pb-2"><b>Accommodation</b></MudText>
                        <MudContainer class="d-inline-flex px-0 gap-1 align-center">
                            <MudText Typo="Typo.h6">@CurrentTrip.Accommodation</MudText>
                        </MudContainer>
                    </MudPaper>
                </MudContainer>
            </div>
        }
        else if (_selectedPage == "Accommodation")
        {
            <div class="d-flex flex-column pa-6">
                <MudText Typo="Typo.h4"><b>Accommodation</b></MudText>
                <MudContainer Class="px-0 py-2 d-flex justify-space-between align-center">
                    <MudText Typo="Typo.h5"><b>France, Paris</b></MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" aria-label="delete" Size="Size.Small"/>
                </MudContainer>
                <MudContainer Class="px-0 pt-2 d-inline-flex gap-2 ml-0" Style="width: auto">
                    <MudContainer class="pl-0 pr-1">
                        <MudImage Src="Images/America.jpg" Alt="America" Class="rounded-lg" Style="height: 130px"/>
                        <MudText Typo="Typo.h6">White house</MudText>
                    </MudContainer>
                    <MudContainer class="pl-0 pr-1">
                        <MudImage Src="Images/America.jpg" Alt="America" Class="rounded-lg" Style="height: 130px"/>
                        <MudText Typo="Typo.h6">White house</MudText>
                    </MudContainer>
                </MudContainer>
            </div>
        }
        else if (_selectedPage == "Days")
        {
            <div class="d-flex flex-column pa-6">
                <MudText Typo="Typo.h4"><b>Days</b></MudText>
                <MudContainer Class="px-0 py-2 d-flex justify-space-between align-center">
                    <MudText Typo="Typo.h5"><b>November 17, friday</b></MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" aria-label="delete" Size="Size.Small"/>
                </MudContainer>
                <MudContainer Class="px-0 d-inline-flex gap-3">
                    <MudCard Style="width: 300px">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6"><b>Eiffel tower</b></MudText>
                                <MudText Typo="Typo.body2">I love Eiffel tower</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardMedia Image="Images/France.jpg" Height="150"/>
                    </MudCard>
                </MudContainer>
            </div>
        }
    </MudDrawerContainer>
</MudPaper>